body {
    background: #EEEEEE;
}

footer {
    display: block;
}

nav ul li a {
    z-index: 999;
    color: black;
}

.white_nav {
    background: #FAFAFA;
}

.button-collapse {
    color: #979797;
}

.material-icons {
    color: black;
}

#nav_logo {
    height: 52px;
    position: relative;
    top: 6px;
    left: 30px;
}

.hide-on-med-and-down {
    padding-right: 12px;
}

#search_box {
    width: 100px;
    height: 52px;
}

.container-full {
    margin: 0 auto;
    width: 100%;
}

.no-padding {
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

margin-60 {
    margin-top: 6000px;
}

.black_arrow {
    float: right;
}

.block_header {
    font-size: 28px;
    padding-top: 60px;
}

.price_tag {
    position: relative;
}

.brand {
    font-size: 12px;
    color: #9B9B9B;
    position: relative;
    top: -12px;
    left: -10px;
}

.product_name {
    font-size: 18px;
    position: relative;
    top: -7px;
}

.price {
    position: relative;
    font-size: 14px;
    top: -3px;
}

.add_to_cart {
    position: relative;
    top: 10px;
}

.margin-l-r-90 {
    margin-left: 90px;
    margin-right: 90px;
}

.brand_in_cart {
    font-size: 20px;
    color: #000000;
    margin: 0 auto;
}

.name_in_cart {
    font-size: 20px;
    color: #000000;
    padding-bottom: 18px;
}

.cart_img {
    padding-left: 54px;
    padding-right: 50px;
    height: 180px;
    width: auto;
}

.price_in_cart {
    padding-top: 7px;
    font-size: 14px;
    font-weight: 100;
    color: #000000;
}

.quantity_in_cart {
    font-size: 14px;
    font-weight: 100;
    color: #000000;
}

.summary_header {
    font-size: 17px;
    color: #000000;
}

.cart-content_detail {
    margin-top: 20px;
}

.cart_subtotal {
    padding-top: 30px;
    font-size: 16px;
    font-weight: 200;
}

.cart_shipping {
    font-size: 16px;
    font-weight: 200;
}

.row_order {
    padding-top: 3px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.cart_total {
    padding-top: 30px;
    font-size: 18px;
    font-weight: 400;
}

.checkout_button {
    font-size: 25px;
    text-align: center;
}

.cart_bin {
    float: right;
    padding-right: 25px;
    padding-top: 25px;
}