body {
    background: #EEEEEE;
}

nav ul li a {
    z-index: 999;
    color: black;
}

.white_nav {
    background: #FAFAFA;
}

.button-collapse {
    color: #979797;
}

.material-icons {
    color: black;
}

#nav_logo {
    height: 52px;
    position: relative;
    top: 6px;
    left: 30px;
}

.hide-on-med-and-down {
    padding-right: 12px;
}

#search_box {
    width: 100px;
    height: 52px;
}

.container-full {
    margin: 0 auto;
    width: 100%;
}

.no-padding {
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.full_width {
    float: none;
    width: 100%;
    height: auto;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
}

.black_arrow {
    float: right;
}