body {
    margin: 0;
    padding: 0;
    font-family: Roboto-Regular;
}
          
.nbar {
    height: 80px;
    background-color: #FAFAFA;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
    margin: 0 auto;
}

.logo {
    width: auto;
    height: 64px;
    margin: -8px 0px 0px 45.15px;
    float: left;
}

#menu_button {
    float: left;
    margin: 27.5px 0px 0px 25px;
    width: 35px;
    height: 25px;
}

.signin_join_div {
    float: right;
    font-size: 16px;
    padding: 19px 23px 0px 0px;
}

#account_div {
    float: right;
    padding: 25px 15px 0px 0px;
}

#cart_div {
    float: right;
    padding: 21.5px 50px 0px 0px;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.searchbox_div {
    float: right;
    width: 282px;
    height: 40px;
    margin-top: 20px;
    margin-right: 50px;
    background-color: #000000;
    opacity: 0.1;
    border: none;
}

.featured_item_div {
    width: 100%;
    height: auto;
    position: absolute;
    top: 80px;
}

.full_width {
    width: 100%;
    height: auto;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
    float: left;
}

#featured_item_box {
    background-color: #FFFFFF;
    width: 380px;
    height: 180px;
    position: absolute;
    top: 414px;
    left: 120px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
}

#featured_brand_name {
    font-family: Roboto-Regular;
    font-size: 12px;
    color: #9B9B9B;
    padding-top: 21.5px;
    padding-left: 30px;
    width: auto;
}

.inactiveCircle {
    position: absolute;
	width: 7px;
	height: 7px;
	border-radius: 3.5px;
	background-color: #BABABA;
    margin-top: -12px;
}

.activeCircle {
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 3.5px;
    background-color: #E53935;
    margin-top: -12px;

}

#cir1 {
    margin-left: 278px;
}

#cir2 {
    margin-left: 295px;
}

#cir3 {
    margin-left: 312px;
}

#cir4 {
    margin-left: 329px;
}

#featured_item_name_line1 {
    font-family: Roboto-Regular;
    font-size: 40px;
    color: #000000;
    padding-left: 30px;
    padding-top: 23px;
}

#featured_item_name_line2 {
    font-family: Roboto-Regular;
    font-size: 40px;
    color: #000000;
    padding-left: 30px;
    margin-top: -10px;
}

#black_featured_box {
    background-color: #000000;
    width: 220px;
    height: 60px;
    position: absolute;
    top: 594px;
    left: 120px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
}

#view_product {
    font-family: Roboto-Regular;
    font-size: 12px;
    color: #FFFFFF;
    margin-top: 23px;
    margin-left: 38px;
}

.white_arrow {
    position: absolute;
    margin-top: -17px;
    padding-left: 180px;
}

#new_arrival_block {
    
}

.block_header_text {
    font-family: Roboto-Regular;
    font-size: 28px;
    color: #000000;
    position: static;
    left: 120px;
}